<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: html_head">

</head>

<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

    <!-- Navbar -->
    <nav th:replace="fragments :: html_navbar">

    </nav>
    <!-- Main Sidebar Container -->
    <aside th:replace="fragments :: html_aside">

    </aside>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Dashboard</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li ><a class="btn btn-primary" th:href="@{/admin/contactList}">Contact List</a></li>

                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <div class="container">
            <div class="card">
                <div class="card-header"> Add Contact</div>
                <div class="card-body">
                    <form th:action="@{/admin/store/contact}" enctype="multipart/form-data" th:object="${contact}"  method="POST" >
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>First Name</label>
                                    <input type="text" class="form-control"  name="first_name"   placeholder="Enter First name">

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Last Name</label>
                                    <input type="text" class="form-control"  name="last_name"   placeholder="Enter Last name">

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="text" class="form-control"  name="email"   placeholder="Enter Email">

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Phone Number</label>
                                    <input type="text" class="form-control"  name="phone"   placeholder="Enter Phone Number">

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Photo</label>
                                    <input type="file" id="fileImage" class="form-control" name="fileimage" accept="fileimage/png, fileimage/jpeg">

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" style="margin-top:27px">

                                    <img  id="thumbnail"  alt="image" width="45">
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>




    </div>
</div>








<div th:replace="fragments :: html_link">

</div>

<script>
    $(document).ready(function(){

    $('#fileImage').change(function(){
       showImageThumbnail(this);
    });
    function showImageThumbnail(fileInput){
        file=fileInput.files[0];
        reader = new FileReader();
        reader.onload=function(e){
        $('#thumbnail').attr('src',e.target.result);
        };
        reader.readAsDataURL(file);
    }
    	$('.content').richText();
    });
</script>
</body>
</html>